<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>G&C Cloth Store for Kids and Girls</title>
    <link rel="stylesheet" href="../style.css/show.css">
    <link rel="stylesheet" href="../style.css/data-table.css">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
</head>
<body>
    <div class="navbar">
        <div class="welcome-message">Welcome to G&C Cloth Store</div>
        <img src="https://t4.ftcdn.net/jpg/08/37/15/95/360_F_837159599_BzfbjqWrXF3CJM67ggbYinnWdQzG0P6D.jpg" alt="Background" class="background-image">

        <button class="nav-btn1" onclick="window.location.href='insert.html';">Insert Page</button>
        <button class="nav-btn" onclick="window.location.href='login.html';">Logout</button>
    </div>
   
    <div class="form-container">
         <!-- Navigation Bar -->
   
        <div class="filter-form">
            <form id="filterForm">
                <label for="item">Select Item:</label>
                <select id="item" name="item">
                    <option value="items0">Select Item:</option>
                    <option value="Boys">Boys</option>
                    <option value="Girls">Girls</option>
                    <option value="Scraps">Scraps</option>
                </select>
                
                <label for="startdate">Start Date:</label>
                <input type="date" id="startdate" name="startdate">

                <label for="enddate">End Date:</label>
                <input type="date" id="enddate" name="enddate">

                <button type="submit" class="apply-button">Apply Filters</button>
            </form>
        </div>

        <div class="data-form">
            <h3>All Data</h3>
            <table class="data-table">
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody id="dataTableBody">
                </tbody>
            </table>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../js/login.js"></script>

</body>
</html>
